# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

node_modules/
cache/

package-lock.json

new_contract.sh

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
