# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

**/node_modules/
**/cache/

**/package-lock.json

contract/new_contract.sh
contract/contract-address.json
frontend/start-webserver.sh
frontend/caddyfile
frontend/res/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
